body{
    font-family: 'Pushster', cursive;
    margin: 0;
}
h1{
    font-size: 70px;
}
.color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 6%;
}
.half-width img{
    width: 80%;
    padding-top: 7%;
}
p{
    font-weight: 400;
    color: rgb(90, 90, 90);
}
.hire{
    color: white;
    background-image: linear-gradient(orange, orangered);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}